@page
@model C1CoreMvcDashBoardAndTab.Pages.TabPanelModel
@{
    ViewData["Title"] = "TabPanel";
}

<h2>TabPanel</h2>

<c1-tab-panel id="tabPanel">
    <div>
        <a>Category Sales</a>
        <div>
            <c1-flex-pie binding-name="ProductName" binding="Sales">
                <c1-items-source source-collection="@Model.data"></c1-items-source>
            </c1-flex-pie>
        </div>
    </div>
    <div>
        <a>Products Stock</a>
        <div>
            <c1-flex-chart binding-x="ProductName" legend-position="Top" chart-type="Column">
                <c1-items-source source-collection="@Model.data"></c1-items-source>
                <c1-flex-chart-series name="Stock Units" binding="UnitsInStock"></c1-flex-chart-series>
                <c1-flex-chart-series name="Order Units" binding="UnitsOnOrder"></c1-flex-chart-series>
            </c1-flex-chart>    
        </div>
    </div>
    <div>
        <a>Product Details</a>
        <div>
            <c1-flex-grid auto-generate-columns="false">
                <c1-flex-grid-column binding="ProductID" width="150"></c1-flex-grid-column>
                <c1-flex-grid-column binding="ProductName" width="150"></c1-flex-grid-column>
                <c1-flex-grid-column binding="Category" width="150"></c1-flex-grid-column>
                <c1-flex-grid-column binding="Descriptison" width="*"></c1-flex-grid-column>
                <c1-items-source source-collection="@Model.data"></c1-items-source>
            </c1-flex-grid>
        </div>
    </div>
</c1-tab-panel>